<!DOCTYPE html>
@{
    ViewBag.Title = "TeamHooli";
}
<head></head>
<body>
    <div class="well well-lg">
        <div style="display: inline-block">
            <h4>About the Development Team</h4>
        </div>
        <div style="display: inline-block;float:right">
            @Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn btn-default", @style = "background-color:#0096d7;color:white" })
        </div>
    </div>
    <center><h1>Team Hooli:</h1></center>

    <center><img src="../../Images/15995320_1346925222016612_3849604259535960624_o (1).jpg" alt="Hooli" style="width:30%;height:30%;"></center>
    <br>
    <p>Team Hooli is a group UNF seniors all enrolled in the Senior Project course. </p>
    <table class="table table-striped">
        <tr style="background-color:#0096D7">
            <th>Team Member</th>
            <th>Summary</th>
        </tr>
        <tr>
            <td>Tejas Mistry</td>
            <td>Tejas is a senior graduating from UNF this semester.</td>
        </tr>
        <tr>
            <td>Royce Rhoden</td>
            <td>Royce is a senior graduating from UNF next semester.</td>
        </tr>
        <tr>
            <td>Brennan Hinck</td>
            <td>Brennan is a senior graduating from UNF next semester.</td>
        </tr>
        <tr>
            <td>Charlotte Morrison</td>
            <td>Some description</td>
        </tr>
    </table>

</body>


